<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dogbreed.css')}}">
        <title>Dog Breed Detector</title>

    </head>
    <body>
        
    <div class="container">
        <div class="topbar"> 
            <h1>Dog Breed Identifier</h1>
            <h2>Detects beagle, bulldog, dalmation, german-shepherd, husky, labrador, poodle and rottweiler breeds. </h2>
            <h3>Trained on the YOLOv8 model and built with Flask</h3>
        </div>
        <div class="content">
            <div class="upload-container">
                <form method="post" enctype="multipart/form-data" name="form1" action="{{ url_for('predict_img') }}">
                    <h2 class="h3 mb-3 font-weight-normal">Upload Dog Image</h2>
                    <input type="file" name="file" class="form-control-file" id="inputfile">
                    <br/>
            
                    <button class="btn btn-block btn-default btn-sm" type="submit">Upload</button>
                </form>
            </div>
            <div class="result_container">
                <div class="output">
                {% if image_path %}
                    <h2>Your output detected image</h2>
                    <img class="result" src="{{ image_path }}" alt="Result Image">
                {% endif %}
                </div>
            </div>
            
        
        </div>
    </div>

    </body>
</html>