<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dog Breed Detector</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <div class="sidebar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('dogdetector') }}" class="active">Dog Detector App</a>
    
        </div>
        <div class="content">
            <form class="form-signin col-lg-3" method=post enctype=multipart/form-data name="form1">
                <h1 class="h3 mb-3 font-weight-normal">Upload image or video</h1>
                <input type="file" name="file" class="form-control-file" id="inputfile">
                <br/>
        
                <button class="btn btn-block btn-default btn-sm" type="submit">Upload</button>
                <p class="mt-5 mb-3 text-muted">Built using Pytorch & Flask</p>
            </form>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>